body {
    background-image: url(images/background.jpg);
    scale: 100%;
    font-family: monospace;
    text-align: center;
}

header {
    width: 400px;
    text-align: center;
    color: rgb(51, 29, 3);
    border: 5px rgb(51, 29, 3) groove;
    background-image: url(images/background2.jpg);
    font-size: 40px;
    margin: 20px auto;
    border-radius: 60px;
    padding: 20px;
    font-weight: bold;
    font-family: serif;
    text-shadow: 2px 2px rgb(254, 255, 211);



}

.container{
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 10px;
    border: 5px solid rgb(87, 51, 11);
    display: flex;
    background-color: rgb(51, 29, 3, .8);
    border-radius: 40px;




}

.container>input {
    flex: 1;

}

#paper{

    font-weight: bold;
    border-radius: 20px;
    height: 96px;
    width: 96px;
    
}

#scissors {

    font-weight: bold;
    border-radius: 20px;
    height: 96px;
    width: 96px;
}

#rock {

    font-weight: bold;
    border-radius: 20px;
    height: 96px;
    width: 96px;

}

#output {
    background-color: rgb(53, 38, 0, .9);
    color: rgb(254, 255, 211);
    width: 400px;
    margin: auto;
    height: auto;
    border: 5px solid rgb(254, 255, 211);
    border-radius: 30px;
    margin-top: 20px;

}

#scoreboard {
    color: rgb(254, 255, 211);
}